.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
  margin-bottom: 50px;
}

.card .image {
  width: 100%;
  height: 400px;
  overflow: hidden;
  /* the parent should be absolute to use the absolute in the children */
  /* position: relative; */
}

  /* to show the second image on hover */


.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
}

/* z-index will decide which image we will see on hover */
.card .image .mainImg {
  z-index: 1;
}

.card .image span {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  color: teal;
  padding: 3px 5px;
  z-index: 3;
  font-weight: 500;
  font-size: 12px;
}

.card-body .card-title,
.card-body .card-text h5,
.card-body .card-text .btn {
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

.card .prices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card .prices h5 {
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

/* // to add line on the old price */
.card .prices h5:first-child {
  color: gray;
  text-decoration: line-through;
}
