/* Global styling for the section design */
.section-p1 {
    padding: 40px 80px;
}

/* styling the footer section */
footer {
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;

}

footer .cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin: 100px;
}

footer .footer-logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 30px;
    padding: 20px;
}

footer p {
    font-size: 30px;
    padding: 0 0 8px 0;
}

footer a {
    font-size: 20px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #088178;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: forestgreen;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

@media (max-width: 830px) {
    .section-p1 {
        padding: 40px 40px;
    }
    footer a {
        font-size: 13px;
    }

    footer p,
    footer h4 {
        font-size: 20px;
    }

    footer .cols {
        margin: 20px;
    }
}


@media (max-width: 470px){

    .section-p1 {
        padding: 20px;
    }
    

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    footer .copyright {
        text-align: center;
    }

    footer col a {
        margin: 0;
    }

    footer col h4,
    footer col p {
        margin: 0;
    }

    footer a {
        font-size: 13px;
    }

    footer p,
    footer h4 {
        font-size: 20px;
    }

    footer .cols {
        margin: 0;
    }


}